---
import TwoColumns from "./TwoColumns.astro";
import Text from "./Text.astro";
interface Props {
  title: string;
}

<TwoColumns>
  <div class="px-3 pt-2 pb-3" slot="right">
    <Text class="flex flex-col gap-3 text-2xl">
      <slot />
    </Text>
  </div>
</TwoColumns>
