---
import Heading from "../components/course/Heading.astro";
import Section from "../components/course/Section.astro";
import Text from "../components/course/Text.astro";
import Toolbar from "../components/course/Toolbar.astro";
import CourseLayout from "../layouts/Course.astro";
import Button from "../components/course/Button.astro";
---

<CourseLayout
  title="Thank you for booking mobile bike servicing"
  description="Professional mobile bike servicing in Central London"
  meta={{
    title: "Thank you for booking mobile bike servicing",
    description: "Professional mobile bike servicing in Central London",
    noindex: true,
  }}
>
  <Toolbar />
  <main class="py-32 h-[calc(100vh-200px)]">
    <Section class="flex flex-col gap-8">
      <div class="flex flex-col">
        <Heading level="h1" class="text-center mb-8">Thank you for booking!</Heading
        >

        <Text class="text-center max-w-2xl mx-auto mb-8">
          I will contact you shortly to confirm details ✨
        </Text>
      </div>
      <div class="flex justify-center">
        <Button href="/" text="Back to the main page" />
      </div>
    </Section>
  </main>
</CourseLayout>
